{% extends 'plantilla/base.html' %}
{% block main %}
<main id="main" class="main">
  <div class="pagetitle">
    <h1>REGISTRO DE CAJAS</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item active">Cajas</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section dashboard">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Cajas</h5>
            
              
              <table class="table datatable">
                <thead>
                  <tr>
                    <th scope="col">N°</th>
                    <th scope="col">Usuario apertura</th>
                    <th scope="col">Usuario cierre</th>
                    <th scope="col">Fecha apertura</th>
                    <th scope="col">Hora apertura</th>
                    <th scope="col">Fecha cierre</th>
                    <th scope="col">Hora cierre</th>
                    <th scope="col">Monto apertura</th>
                    <th scope="col">Monto cierre</th>
                    
                  </tr>
                </thead>
                <tbody>
                  {% for caja_registro in cajas_registros_for %}
                  <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ caja_registro.idusuario.nombrecompleto }}</td>
                    <td>{{ caja_registro.usuario_cierre.nombrecompleto }}</td>
                    <td>{{ caja_registro.fecha_apertura }}</td>
                    <td>{{ caja_registro.hora_apertura }}</td>
                    <td>{{ caja_registro.fecha_cierre }}</td>
                    <td>{{ caja_registro.hora_cierre }}</td>
                    <td>{{ caja_registro.saldo_inicial }}</td>
                    <td>{{ caja_registro.saldo_final }}</td>

                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              

          </div>
        </div>

      </div>
    </div>
  </section>

</main><!-- End #main -->

{% endblock %}